.carte{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 20px;
    border: 1px solid #000;
}


img{
    
    width: 50%;
    height: 50%;
    border-radius: 20px;
}


.choix{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
     
}

button{
    border-radius: 20px;
    width: 150px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.oui{
    background-color: #0f0;
}

.non{
    background-color: #f00;
}
