#tableassos{
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ff8c3fcc;
    font-size: 1em;
    font-family: sans-serif;
}

#tableassos th{
    border: 1px solid #ff8c3fcc;
    padding: 0.5em;
    background-color: #ff8c3fcc;
    color: #fff;
}

#tableassos td{
    border: 1px solid #ff8c3fcc;
    padding: 0.5em;
}

#retour {
    margin-top: 20px;
    padding: 5px;
    margin: auto;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--icon-color);
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
    color: var(--icon-color);
    background-color: var(--background-color);
    border: 1px solid var(--icon-color);
}

#retour:hover {
    color: white;
    box-shadow: 0 0 10px var(--icon-color);
    background-color: var(--icon-color);
}