/* 
Titre: Rambla
Texte : Roboto
Input: Fira Mono
*/
:root {
    /* Fond */
    --background-color: #16161b;
    /* Pour le menu */
    --light-background-color: #212027;
    --border-color: #22282e;

    /* Texte */
    --title-text-color: #EEEEEE;
    --main-text-color: #CCCCCC;
    --text-color: #a8a8a8;
    --shaded-text-color: #666666;

    /* Couleurs */
    --icon-color: #ff8c3fcc;
    --link-text: #4f94e3;
}

* {
    padding: 0;
    margin: 0;
}

/* Styles par défaut */
/* Titres */
h1 {
    font-family: 'Rambla', sans-serif;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: var(--title-text-color);
}

h2 {
    font-family: 'Rambla', sans-serif;
    font-size: 2em;
    letter-spacing: 1px;
    color: var(--title-text-color);
}

h3 {
    font-family: 'Rambla', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: var(--title-text-color);
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    font-size: 1em;
    color: var(--main-text-color);
}

/* Style des liens */
a {
    font-family: sans-serif;
    font-size: 1em;
    color: var(--link-text);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    font-size: 1em;
    color: var(--main-text-color);
}

#error {
    font-family: sans-serif;
    font-size: 0.8em;
    color: rgb(255, 65, 65);
    font-style: italic;
}

/*SIDE NAVIGATION*/

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: -75px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    right: 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    height : 40px;
    width : 35px;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 30px;
    margin-left: 50px;
}

#sideNavButton
{
    font-size:40px;
    cursor:pointer;
    position: fixed;
    top: 30px;
    right: 0px;
    transform: translate(-50%, -50%);
}

.sidenav p
{
    font-size: 20px;
    margin-left : 25px;
    margin-bottom: 5px;

}

#connectedUser
{
    font-size : 30px;
    font-weight: bolder;
    margin-left : 25px;
}

.sidenav hr
{
    width : 350px;
    left : 0;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}