/* Header */
header {
    text-align: center;
    line-height: 1;
}

h1 {
    margin: 10px;
}



.textH3 {
    font-size: 0.8em;
    color: var(--shaded-text-color);
}

.labelTimer
{
    font-size : 16px;
}

hr{
    margin-block: 15px;
    margin-inline: 100px;
}

#logoHegoBerria {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100px;
    pointer-events: none;
}

main{
    text-align: center;
    justify-content: center;
}

.info {
    margin-inline: auto;
    margin-top: 70px;
    background-color: var(--light-background-color);
    width: 500px;
    padding-top: 35px;
    border-radius: 25px;

}

#inexistant {
    height: 120px;
}
#ferme
{
    height: 150px;
}

#divTemps
{
    height: 285px;
}

button {
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--light-background-color);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    width: 90%;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
}

button:hover {
    background-color: var(--icon-color);
    color: var(--title-text-color);
}

ul {
    list-style-type: none;
    margin-block: 20px;
    margin-inline: 40px;
    padding: 0;
    overflow: hidden;
}

li {
    background-color: var(--background-color);
    margin-inline : 5px;
    padding-block: 10px;
    float: left;
    width: 22%;
    text-align: center;
    border-radius: 10px;
}

.Temps
{
    font-size : 48px;
}
