body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
}

/* Header */
header {
    text-align: center;
    line-height: 1;
}

h1{
    margin: 10px;
}

#creationTitle{
    text-align : center;
    font-size : 26px;
    margin-top : 0px;
    margin-bottom: 15px;
}

#logoHegoBerria {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100px;
    pointer-events: none;
}

/* Main */
main {
    flex: 1;
    margin: 20px auto;
    width: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--light-background-color);
    padding: 20px 15px;
    text-align: left;
    max-width: 380px;
}

input {
    outline-color: invert;
    background-color: var(--background-color);
    border: solid 1px var(--border-color);
    color: var(--text-color);
    border-radius: 4px;
    margin-top: 3px;
    padding: 5px;
}

#msgCodeEnvoi {
    padding-top: 10px;
}

#inputValidation {
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 10px;
    text-indent: 5px;
    text-align: center;
    margin-top: 15px;
    max-width: 160px;
    justify-self: center;
}

#boutonValidation {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--icon-color);
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
    color: var(--icon-color);
    background-color: var(--background-color);
    border: 1px solid var(--icon-color);
}

#boutonValidation:hover {
    color: white;
    box-shadow: 0 0 10px var(--icon-color);
    background-color: var(--icon-color);
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 10px;
}