/* input[type=file]::file-selector-button {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}



input[type=file] {
    width: 100%;
    color: transparent;

} */

#achanger{
    font-size: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

/* .btn-file {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 25em;
    height: 25em;
    font-size: 18px;


} */

/* form {
    text-align: center;
} */

th, td {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

div
{
    margin-inline: auto;
    text-align : center;
    margin-top: 70px;
    background-color: var(--light-background-color);
    width: 300px;
    padding-inline: 0px;
    border-radius: 25px;
}

table {
    width: 75%;
    margin: 20px auto;
    text-align: center;
}


div.scroll{
    overflow: auto;
    /* La height c'est la moitié de l'écran vertical*/
    max-height: 50vh;
    height: auto;
    /* background-color: brown; */
    width: 75%;
    margin: 20px auto;
}
    
.edit{
    border: none;
    text-align: left;
}

.select{
    border: none;
    text-align: right;

}
.btn-edit{
    width: 100%;
    
}

.feedback{
    text-align: center;
}

button {
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--light-background-color);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    width: 150px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
}
