body {
    background-color: #212027;
    color: #CCCCCC;
}
.container {
    height: auto;
    margin: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.propriete {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: auto;
    /* border: 1px solid black; */
    box-shadow: 0 0 10px #16161b;
    border-radius: 10px;
    border-left: none;
}

#carteActuelle {
    margin-top: 20px;
    margin: auto;
}

.carte {
    width: 20rem;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #16161b;
    background-color: #22282e;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 20px;
}

img {

    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;

}

input[type='button'] {
    height: 50px;
    border-radius: 10px;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 10px #16161b;
}

.BoutonReponse {
    border: none;
}

.QCM {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 50% 50%;
    /*Alexandre doit fix ça*/
    margin-bottom: 30px;
}

.addsuppbtn {
    float: left;
    bottom: 0;
}

form {
    width: 100%;
    height: 100%;
}

.reponselibre {
    height: 200px;
}

.inputReponseLibre {
    resize: none;
    width: 80%;
    height: 90%;
    padding: 2%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #16161b;
    background-color: #22282e;
    color: #a8a8a8;
    padding: -10px;
}

.inputReponseLibre:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 10px #16161b;
    background-color: #22282e;
    color: #a8a8a8;
}

.next {
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #22282e;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    width: 90%;
    color: #ff8c3fcc;
    border: 1px 1px solid #ff8c3fcc;
    box-shadow: 0 0 10px #ff8c3fcc;
}

.next:hover:not(:disabled) {
    background-color: #ff8c3fcc;
    color: #EEEEEE;
}

.next:disabled {
    color: #CCCCCC;
    border: none;
    box-shadow: none;
}

.next:enabled {
    color: #ff8c3fcc;
    border: 1px solid #ff8c3fcc;
    box-shadow: 0 0 10px #ff8c3fcc;
}