/* == MENU NAV == */

#horizontal-menu {
    display: none;
}

#vertical-menu {
    display: fixed;
}

#vertical-menu {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 150px;
    position: fixed;
    border-bottom-left-radius: 5px;
    user-select: none;
}

#logo-image-ver {
    height: 30px;
    width: 30px;

    top: 5px;
    left: 30px;
    position:absolute;
}

.icon {
    font-size: 100px;

    padding-top: 2px;
    padding-right: 8px;
    cursor:pointer;
}

#icon-menu {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

#vertical-menu-bar {
    position: absolute;
    display: fixed;
    left: 0px;
    top: 148px;
    width: 100%;

    background-color: black;
}

.button-slider {
    display: block;

    font-weight: 100;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 80px;
    text-decoration: none;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    color: white;
}

.button-slider:hover {
    font-weight: 300;
    cursor: pointer;
}

.button-slider-selected {
    display: block;

    font-weight: 900;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 80px;
    text-decoration: none;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;

    color: white;
}

#vertical-menu-exitSp {
    position: absolute;
    width: 100%;
    top: calc(135px * 4);
    height: calc(100% - 150px + 135px * 6);
}

/* === FOOTER === */

footer {
    background-color: #000000; 
    display:flex;
    position:inherit;
    width: 100%; height: 800px;
    z-index: 3;
}

.icon-image {
    transition: all 0.3s;

    font-size: 35px;
    height: auto; 
    width: auto; 
    max-width: 80px; 
    max-height: 80px;
    padding: 10px;
    cursor:pointer;
    border-radius: 15px;

    background-color: black;

    filter: invert(0%);
}

.icon-image:hover {
    filter: invert(100%);
}

#ext-link {
    position: absolute;
    height: min-content;
    top: 50%;
    width: 80px;
    transform: translateY(-50%);
    right: 100px;
}

#int-link-r {
    height: 40%;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 100px;
    padding-left: 10px;
    border-left-style:solid;
    border-color: rgba(255, 255, 255, 0.918);
    border-width: 1px;

    color: white;
}

#int-link-l {
    height: 40%;
    width: 400px;
    position: absolute;
    top: 10%;
    left: 100px;
    padding-left: 10px;
    border-left-style:solid;
    border-color: rgba(255, 255, 255, 0.918);
    border-width: 1px;

    color: white;
}

.footer-link {
    list-style:none;

    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 100;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 50px;

    cursor: pointer;
}

.footer-link:hover {
    font-weight: 300;
}

.footer-link-text {
    color: white;
    text-decoration: none;

}

/* ===================== */

#page-content {
    background-color: #000000;
    position:absolute;
    top: 0px;
    left: 0px;
    
    display: block;
    width: 100%;
    height: 100%;

    z-index: 0;
}

#menu-spacer {
    position: flex;
    height: 150px;
}

/*
==============================================================================================
INDEX.HTML
==============================================================================================
*/

/* === PARTIE SUPERIEUR === */

#index-sup-part {
    background-color: #BB5A46; 
    display:flex;
    width: 100%; 
    height: 100%;
}

#index-div-cen-sup {
    z-index: 5; 
    position: absolute; 
    top: 50%; 
    width: 100%;  
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    text-align: center; 
    font-family: 'Roboto', sans-serif, monospace;
}

h1 {
    color: white;
    font-size: 140px;
}

h3 {
    color: rgb(207, 207, 207); 
    font-weight: 300;
    font-size: 50px;
}

#index-image-principale {
    width: 250px; 
    height: auto;
}

#boutonCommencer {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #ffffffcc;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
    color: #ffffffcc;
    background-color: rgb(15, 7, 7);;
    border: 1px solid rgb(30, 14, 14);
}

#boutonCommencer:hover {
    color: white;
    box-shadow: 0 0 10px #ffffffcc;
    border: 1px solid #ffffffcc
}
/* === PARTIE BASSE === */

#index-middle-part {
    display:flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 185, 224);
}

/*
==============================================================================================
ANNONCES.HTML
==============================================================================================
*/

#annonces-middle-part {
    top: 100px;

    display:flex;
    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;

    padding-top: 100px;

    overflow: auto;
}

#annonces-middle-part > div {
    display: block;
    width: 90%;
    margin: 50px 5% 50px 5%;
    height: fit-content;

    padding: 10px;

    background-color: rgb(255, 255, 255);

    border-radius: 15px;
    border: solid black 2px;

    font-weight: 300;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 35px;

    text-align: justify;
    padding: 30px;
}

h2 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 50px;

    white-space: nowrap;
    margin-left: 20px;
}

#annonces-box-header-info > h3 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    margin: 5px;
    height: 40px;
    white-space: nowrap;
}

#annonces-box-header {
    display:block;
    width: 100%;
}

#annonces-box-header-info {
    margin: 0px 15px 0px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    direction: ltr;
}

/*
==============================================================================================
CONTACTER.HTML
==============================================================================================
*/

#contacter-middle-part {
    width: 100%;

    padding: 100px 0px 100px 0px;
    min-height: calc(100% - 460px);
    height: auto;
    background-color: rgb(255, 255, 255);
}

#contacter-cdiv {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
}

#contacter-mini-nav-menu>div {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 50px;
    
    height: 100px;
}

#contacter-mini-nav-menu>div>label {
    transition: all 0.3s;

    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 10px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 50px;
    text-align: center;
    user-select:none;

    border: 1px rgb(0, 0, 0) solid;
    transform: translateY(-20px);
    box-shadow: 0px 20px rgb(71, 71, 71);
}

.content-box {
    display: none;
    font-weight: 300;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 40px;
}

#contacter-content-membres {
    display: none;
    font-weight: 300;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 45px;
}

#contacter-content-box {
    margin: 30px 10px 10px 10px;
    border-width: 0px 1px 1px 1px;
    overflow: hidden;
    transition: all 0.2s;
    padding: 20px;
    border-radius: 20px;

    border: 1px rgb(220,220,220) solid;
}

/*
==============================================================================================
IUT.HTML
==============================================================================================
*/

#iut-middle-part {
    
    width: 100%;

    padding: 100px 0px 100px 0px;
    min-height: calc(100% - 460px);
    height: auto;
    background-color: rgb(255, 255, 255);
}

#iut-text-part {
    width: calc(100% - 120px);
    left: 60px;
    position: relative;

    font-weight: 300;
    font-family: 'Roboto', sans-serif, monospace;
    font-size: 40px;

    text-align: justify;
}

.snack-title {
    background: black;
    border-radius: 25px;
    padding: 3px 20px 3px 20px;
    font-weight: 300;
    font-size: 50px;
}

.snack-name-price {
    padding:5px;

    border-bottom: grey 1px solid;;
}

.snack-price {
    float:right;
}