/* Header */
header {
    text-align: center;
    line-height: 1;
}

h1{
    margin: 10px;
}

.textH3
{
    font-size: 0.8em;
    color : var(--shaded-text-color);
}

hr{
    margin-block: 15px;
    margin-inline: 100px;
}

#logoHegoBerria {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100px;
    pointer-events: none;
}

main{
    display : flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

div
{
    margin-inline: auto;
    margin-top : 70px;
    background-color: var(--light-background-color);
    width : 500px;
    padding-top : 35px;
    border-radius: 25px;

}

#inexistant
{
    height : 120px;
}
#ferme
{
    height: 150px;
}

button
{
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--light-background-color);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    width : 90%;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
}

button:hover
{
    background-color: var(--icon-color);
    color : var(--title-text-color);
}