body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
}

/* Header */
header {
    text-align: center;
    line-height: 1;
}

h1{
    margin: 10px;
}

#connexionTitle{
    text-align : center;
    font-size : 26px;
    margin-top : 0px;
    margin-bottom: 15px;
}

#logoHegoBerria {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 100px;
    pointer-events: none;
}


/* Main */
main {
    flex: 1;
    margin: 20px auto;
    width: auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--light-background-color);
    padding: 20px 15px;
    text-align: left;
    max-width: 350px;
}

#sectionMDP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#MDPOublie:hover {
    text-decoration: none;
}

#MDP {
    width: 95%;
}

#oeil-MDP {
    cursor: pointer;
    position: absolute;
    height: 20px;
    margin-top: 7px;
    margin-left: -30px;
    filter: invert(75%);

    -webkit-user-select: none;    /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;    /* IE10+/Edge */
    user-select: none;    /* Standard */
}

input {
    outline-color: invert;
    background-color: var(--background-color);
    border: solid 1px var(--border-color);
    color: var(--text-color);
    border-radius: 4px;
    margin-top: 3px;
    padding: 5px;
}

#boutonConnexion {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: var(--icon-color);
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
    color: var(--icon-color);
    background-color: var(--background-color);
    border: 1px solid var(--icon-color);
}

#boutonConnexion:hover {
    color: white;
    box-shadow: 0 0 10px var(--icon-color);
    background-color: var(--icon-color);
}

#pasDeCompte {
    margin-top: 10px;
    font-size: 14px;
    padding: 15px;
    border: solid 1px var(--border-color);
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 20px
}

#nousContacter {
    text-decoration: none;
    color: var(--text-color);
}

#nousContacter:hover {
    text-decoration: underline;
    color: var(--link-text);
}