/* 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,500&display=swap" rel="stylesheet"> 

Titre: Alfa Slab One

Input: Roboto Mono
*/

:root{
    --main-color: #000;
}

*{
    padding: 0;
    margin: 0;
}

